<div class="container">
  <header class="container-item-header">
    <div class="header-logo">
      <img
        src="https://srv-appeon-000-w23.adacsc.co/demo-prueba-angular/images/logo.svg"
        alt="logo"
      />
      <p>Dashboard</p>
    </div>
      <div class="header-user">
        <button class="header-button">
          Registrarse
        </button>
        <button class="header-button button-login">
          Ingresar
        </button>
      </div>
  </header>
  <body>
    <div class="container-item-body">
      <div class="body-sidebar">
        <div class="sidebar-menu">
          <div class="menu-item">
            <img src="https://srv-appeon-000-w23.adacsc.co/demo-prueba-angular/images/lista.svg" alt="list">
            Listado
          </div>
          <div class="menu-item">
            <img src="https://srv-appeon-000-w23.adacsc.co/demo-prueba-angular/images/editar.svg" alt="form">
            Formulario
          </div>
        </div>
      </div>
      <div class="body-container">
        <app-list/>
      </div>
    </div>
  </body>
</div>
<!-- <router-outlet />
> -->
